html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: #fff;
    position: relative;
    font-size: 14px;

    .test-tool {
        position: absolute;
        right:0;
        top: 100px;
        background-color: #888;
        padding: 10px;
        z-index: 1;

        button {
            width: 100px;
            height: 100px;
        }
    }
}

.page {
    width: 100%;
    height: 100%;
    display: none;
    position: relative;

    @scrollHack: 40px;
    @barHeight: 50px;
    @controlHeight: 140px + @scrollHack;

    &.show {
        display: block;
    }

    .content {
        background-color: #aaa;
        height: 100%;
        padding-bottom: @controlHeight + @barHeight;
        padding-top: @scrollHack;
    }

    .bar {
        height: @barHeight;
        background-color: #ccc;
        position: absolute;
        bottom: @controlHeight;
        width: 100%;
    }

    .control {
        height: @controlHeight;
        background-color: #eee;
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}